
.vs/SamOthellop/v16/.suo
.vs/SamOthellop/v16/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.ide-wal
*.pdb
*.cache
*.cache
SamOthellop/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.xml
*.dll
*.resources
*.cache
*.txt
*._
*.nupkg
*.p7s
*.props
*.pdf
*.config
*.sqlite
*.1
*.so
*.json
*.xlsx
*.md
packages/NumSharp.Lite.0.1.7/LICENSE
*.dylib
*.cache
*.cache
*.cache
*.PNG
*.user
*.cache
*.cache
*.testlog
*.manifest
*.targets
*.v2
*.exe
*.cache
*.pdb
*.exe
